@{
    ViewData["Title"] = "主页";
}

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Account" asp-action="Register">注册</a>
    <a class="btn btn-secondary" asp-controller="Account" asp-action="Login">登录</a>
    <a class="btn btn-secondary" asp-controller="Message" asp-action="Index">聊天信息查询</a>
</div>